
<!-- Banner -->
<article class="article style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right {{ .style }}">
  <div class="header">
    {{ with .Params.coverImage }}
      <div class="image">
          <img src="{{.}}" alt="Header Image" />
      </div>
    {{ end }}
    {{ with .Title }}<h1>{{ . }}</h1>{{ end }}
    {{ with .Params.subtitle }}<p class="major">{{ . | safeHTML }}</p>{{ end }}
  </div>
  <div class="content">
    {{ with .Content }}<p>{{ . | safeHTML }}</p>{{ end }}
    {{ with .Params.button }}
      <ul class="actions stacked">
        <li><a href="{{ .link }}" class="button primary large wide smooth-scroll-middle">{{ .label }}</a></li>
      </ul>
    {{ end }}
  </div>
</article>
