{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    {{ with .Banner }}
        <img class="entry-cover" src="{{ . }}" />
    {{ end }}
    <div class="row">
        <header class="entry-header">
            <h1>{{ .Title | markdownify }}</h1>
        </header>
        <div class="entry-content">
            {{ .Content | markdownify }}
        </div>
        <footer class="entry-footer">
            {{ partial "social_icons.html" site.Params.socialIcons }}
        </footer>
    </div>
</article>
{{- end -}}
