<article>
    {{ with .Image }}
        {{ $thumb := .Fit "360x250" }}
        <a href="{{ . }}" class="image">
            <img src="{{ $thumb }}" alt="" />
        </a>
    {{ end }}
    <div class="caption">
        {{ with .Title }} <h3>{{ . }}</h3> {{ end }}
        {{ with .Content }} <p>{{ . }}</p> {{ end }}
        {{ with .Button }}  
            <ul class="actions fixed">
                <li><span class="button small">{{ . }}</span></li>
            </ul>
        {{ end }}
    </div>
</article>
