<div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper fullSwiper">
    <div class="swiper-wrapper">
    {{ $imageFolder := .Get "srcFolder"}}
    {{ $imageFolderPath := print $imageFolder "/*"}}
    {{ with .Page.Resources.Match $imageFolderPath }}
        {{ range . }}
            <img class="swiper-slide" src="{{ .Permalink }}" />
        {{ end }}
    {{ end }}
    </div>
    <div class="swiper-button swiper-button-prev"></div>
    <div class="swiper-button swiper-button-next"></div>
</div>
<div thumbsSlider="" class="swiper thumbSwiper">
    <div class="swiper-wrapper">
            {{ $imageFolder := .Get "srcFolder"}}
            {{ $imageFolderPath := print $imageFolder "/*"}}
            {{ with .Page.Resources.Match $imageFolderPath }}
            {{ range . }}
                {{ $thumbnail := .Fill "600x340 q75" }}
                <img class="swiper-slide" src="{{ $thumbnail.Permalink }}" />
            {{ end }}
            {{ end }}
    </div>
</div>
